
  
.product-header-image {
    background-size: cover;
}

.mat-card-header {
    min-height: 52px;
}

.mat-card-image {
    max-width: 250px;
    max-height: 250px;
}

.mat-card-title {
    min-height: 52px;
}