
  
.product-header-image {
    background-size: cover;
}

.mat-card-header {
    min-height: 52px;
}

.mat-card-image {
    max-width: 250px;
    max-height: 250px;
}

.mat-card-title {
    min-height: 52px;
}

.strike {
    font-size: 18px;
    text-decoration: line-through;
    color: #FF0000;
}

.money {
    font-size: 18px;
    color: #32CD32
}