<mat-card class="product-card">
    <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
    </mat-card-header>
    <a href="https://www.unrealengine.com/marketplace/en-US/product/{{ product.urlSlug }}"
        ><img mat-card-image src="{{ product.thumbnail }}" alt="thumbnail"
    /></a>
    <mat-card-content>
        <div>
            <p>{{ product.price }}</p>
        </div>
        <div>
            <p *ngIf="product.rating">
                <strong>Avg Rating: </strong>{{ product.rating?.averageRating }} ({{ product.rating?.total }})
            </p>
            <p *ngIf="!product.rating">
                Not Rated
            </p>
        </div>
    </mat-card-content>
</mat-card>
