
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
}

.sorts {
    margin-bottom: 16px;
}

.filters {
    min-width: 220px;
    margin-right: 16px;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product {
    width: 250px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.category-list {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.price-filter {
    margin-top: 16px;
}